[submodule "include/boost"]
	path = include/boost
	url = https://github.com/apolukhin/magic_get.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
